@mixin section-heading {
    padding-top: 40px;
    font-family: $primary-font;
    font-size: 40px;
    color: $primary-font-color;
}

@mixin section-description {
    font-family: $secondary-font;
    font-size: 18px;
    line-height: 24px;
    color: $primary-font-color;
}

@mixin section-subheading {
    font-family: $primary-font;
    font-size: 28px;
    color: $primary-font-color;
}