//Colors:
$primary-font-color: #283028;
$primary-color: #d9ebde;
$secondary-color: #4e9b4e;

//Sizes:
$extra-small-size: 480px;
$small-size: 576px;
$medium-size: 768px;
$large-size: 992px;
$extra-large-size: 1024px;