#about {
    height: 100vh;
    margin-top: -148px;
    background-image: linear-gradient($primary-color, #fff);
    text-align: right;

    .about-heading {
        @include section-heading;
    }

    .about-description {
        @include section-description;
    }
}

@media all and (min-width: $extra-large-size) {

    #about {
        margin-top: -234px;
    }
}