#affirmations {
    margin-top: -33px;
    padding-bottom: 30px;
    // height: 150vh;
    background-image: url('../resources/affirmations-img.jpg');
    box-shadow: $primary-font-color 0px 0px 25px;

    .affirmations-heading {
        @include section-heading;
    }

    .affirmations-description {
        @include section-description;
    }

    hr {
        width: 100%;
        height: 2px;
        background-color: $primary-font-color;
        display: inline-block;
        margin-top: 25px;
    }

    .affirmations-subheading {
        @include section-subheading;
        padding-top: 10px;

        &:nth-child(6) {
            text-align: right;
        }
    }

    .affirmations-quotes {
        @include section-description;
        font-style: italic;
        
        &:nth-child(7) {
            text-align: right;
        }
    }
}