#newsletter {
    background-color: #fff;
    padding-bottom: 80px;

    .newsletter-heading {
        @include section-heading;
        text-align: right;
    }

    .newsletter-description {
        @include section-description;
        text-align: right;
    }

    #newsletter-form {
        text-align: center;
        position: relative;
        width: 100%;

        label {
            text-align: left;
            width: 100px;
            padding: 5px;
            display: block;
            font-family: $primary-font;
            color: $primary-font-color;
            margin-top: 10px;
        }

        input {
            width: 90%;
            padding: 10px;
            border-radius: 20px;
            outline: none;
            border: 1px solid $primary-font-color;
            font-family: $secondary-font;
            color: $primary-font-color;
            transition: all 0.5s;

            &:focus {
                border: 2px solid $primary-font-color;
            }
        }

        .submit-btn {
            width: 120px;
            padding: 12px;
            margin-top: 20px;
            color: $primary-font-color;
            border: 2px solid $secondary-color;
            font-family: $primary-font;
            transition: all 0.5s;

            &::after {
                background-image: linear-gradient(transparent, $secondary-color);
            }
        }
    }
}