#preparation {
    height: 100vh;
    padding: 0;
    position: relative;

    .prep-video {
        height: 100%;
        object-fit:cover;
    }

    .prep-content {
        padding: 0 30px;
        position: absolute;
        top: 0;

        .prep-heading {
            @include section-heading;
            color: #fff;
            text-shadow: $primary-font-color 0px 0px 10px;
        }

        .prep-description {
            @include section-description;
            color: #fff;
            text-shadow: $primary-font-color 0px 0px 10px;
        }

        .button {
            
            a {
                color: #fff;
                position: relative;
                z-index: 10000;
            }
        }
    }
}