#header {
    background-color: transparent;

    .navigation-container {
        padding: 10px 30px;
        text-align: right;

        .hamburger {
            position: relative;
            font-size: 36px;
            color: $primary-font-color;
            z-index: 100;

            &:hover {
                cursor: pointer;
            }
        }

        .color-change {
            color: $primary-color;
        }

        .navigation {

            .nav-list {
                background-image: linear-gradient($primary-font-color, transparent);
                text-align: right;
                margin: 0;
                padding: 30px;
                padding-top: 65px;
                position: fixed;
                top: 0;
                right: 0;
                width: 120px;
                display: none;

                li {

                    a {
                        color: #fff;
                        line-height: 32px;
                        font-family: $primary-font;
                        text-shadow: $primary-font-color 0px 0px 6px;
                        transition: all 0.3s;

                        &:hover {
                            font-weight: 600;
                            text-shadow: $primary-color 0px 0px 12px;
                        }
                    }
                }
            }

            .unfolded {
                display: block;
            }
        }
    }
}

@media all and (min-width: $extra-small-size) {

    #header {

        .navigation-container {
            padding: 20px 60px;
            padding-bottom: 0;

            .navigation {

                .nav-list {
                    padding: 0 60px;
                    padding-top: 80px;

                    li {

                        a {
                            color: #fff;
                            line-height: 32px;
                            font-family: $primary-font;
                            text-shadow: $primary-font-color 0px 0px 6px;
                            transition: all 0.3s;

                            &:hover {
                                font-weight: 600;
                                text-shadow: $primary-color 0px 0px 12px;
                            }
                        }
                    }
                }

                .unfolded {
                    display: block;
                }
            }
        }
    }
}

@media all and (min-width: $extra-large-size) {

    #header {
        height: 100px;

        .navigation-container {

            .hamburger {
                display: none;
            }

            .navigation {

                .nav-list {
                    text-align: center;
                    background-image: none;
                    background-color: transparent;
                    display: block;
                    position: absolute;
                    width: 100%;
                    padding: 50px 0;
                    padding-bottom: 0;

                    li {
                        display: inline;

                        a {
                            display: inline;
                            margin: 0 20px;
                            color: $primary-font-color;
                            font-family: $primary-font;
                            text-shadow: none;
                            transition: all 0.3s;

                            &:hover {
                                font-weight: 400;
                                text-shadow: $secondary-color 0px 0px 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}