.button {
    position: relative;
    margin-top: 10px;
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 30px;
    width: 120px;
    text-transform: uppercase;
    font-family: $primary-font;
    background-color: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: $primary-color 0px 0px 10px;

    &::after {
        content: '';
        position: absolute;
        background-image: linear-gradient(transparent, #ffffff7c);
        width: 100%;
        height: 70px;
        display: block;
        top: 50px;
        left: 0;
        transition: all 0.3s;
    }

    &:hover {

        &::after {
            transform: translateY(-55px);
        }
    }
}