html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section {
    padding: 0 30px;
}

.background-image {
    // width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background-color: $primary-font-color;
}

::-webkit-scrollbar-thumb {
    background-color: #d9ebde;
}