html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section {
    padding: 0 30px;
}

.background-image {
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background-color: $primary-font-color;
}

::-webkit-scrollbar-thumb {
    background-color: #d9ebde;
}

@media all and (min-width: $extra-small-size) {

    section {
        padding: 0 50px;
    }
}

@media all and (min-width: $large-size) {

    section {
        padding: 0 70px;
    }
}

@media all and (min-width: $medium-size) {

    .background-image {
        width: 100%;
    }
}

@media all and (min-width: $extra-large-size) {

    .background-image {
        width: 100%;
    }
}