@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,300;9..144,400;9..144,500;9..144,600;9..144,700;9..144,800&family=Urbanist:wght@100;300;400;500;600&display=swap');

$primary-font: 'Fraunces', serif;
$secondary-font: 'Urbanist', sans-serif;